agents/*
backups/*
debug/*
file-history/*
ide/*
projects/*
**/bin/*
**/__pycache__/*
**/node_modules/*
**/statsig/*
todos/*
**/prompts/*
history.jsonl
shell-snapshots/*
.credentials.json
plugins/blocklist.json
